-- Cho phép Admin ép khóa tài khoản bỏ qua RLS
CREATE OR REPLACE FUNCTION public.admin_ban_user(target_user_id UUID)
RETURNS void AS \$\$
BEGIN
    UPDATE public.profiles SET is_locked = true WHERE id = target_user_id OR auth_id = target_user_id;
    UPDATE public.roommates SET is_locked = true WHERE id = target_user_id OR user_id = target_user_id;
    UPDATE public.rooms SET is_locked = true WHERE user_id = target_user_id OR "postedBy" = target_user_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
