-- Bật extension pg_cron trên Supabase
CREATE EXTENSION IF NOT EXISTS pg_cron;

-- Xóa job cũ nếu có để tránh trùng lặp
SELECT cron.unschedule('expire_old_posts');

-- Tạo hàm tự động gán nhãn hết hạn cho bài đăng quá 30 ngày
CREATE OR REPLACE FUNCTION public.expire_old_posts()
RETURNS void AS \$\$
BEGIN
    -- Cập nhật bảng rooms
    UPDATE public.rooms
    SET status = 'Hết hạn'
    WHERE created_at <= NOW() - INTERVAL '30 days'
      AND status != 'Hết hạn';

    -- Cập nhật bảng roommates (Chỉ dành cho các bài đăng is_listing = true)
    UPDATE public.roommates
    SET status = 'Hết hạn'
    WHERE created_at <= NOW() - INTERVAL '30 days'
      AND status != 'Hết hạn'
      AND is_listing = true;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Đặt lịch chạy lúc nửa đêm (00:00) mỗi ngày
SELECT cron.schedule('expire_old_posts', '0 0 * * *', 'SELECT public.expire_old_posts()');

