-- Cập nhật trigger giới hạn số lượng báo cáo (Khóa tạm thời 24h)
CREATE OR REPLACE FUNCTION public.check_user_reports_limit()
RETURNS TRIGGER AS \$\$
DECLARE
    report_count INTEGER;
    v_user_id TEXT;
    v_profile_id TEXT;
BEGIN
    -- Đếm số lượng người báo cáo khác nhau
    SELECT COUNT(DISTINCT reporter_id) INTO report_count
    FROM public.user_reports
    WHERE reported_id = NEW.reported_id;

    -- Nếu bị >= 3 người khác nhau report
    IF report_count >= 3 THEN
        -- Tìm ID gốc của tài khoản
        SELECT COALESCE(user_id, "postedBy", id) INTO v_user_id
        FROM public.roommates
        WHERE id = NEW.reported_id OR user_id = NEW.reported_id OR "postedBy" = NEW.reported_id
        LIMIT 1;

        SELECT id INTO v_profile_id
        FROM public.profiles
        WHERE id = NEW.reported_id OR auth_id::text = NEW.reported_id
        LIMIT 1;

        -- Khóa tài khoản 24h
        UPDATE public.profiles
        SET locked_until = NOW() + INTERVAL '24 hours'
        WHERE id = NEW.reported_id 
           OR auth_id::text = NEW.reported_id
           OR id = v_user_id
           OR auth_id::text = v_user_id
           OR id = v_profile_id;

        UPDATE public.roommates
        SET locked_until = NOW() + INTERVAL '24 hours'
        WHERE id = NEW.reported_id 
           OR user_id = NEW.reported_id 
           OR "postedBy" = NEW.reported_id
           OR id = v_user_id
           OR user_id = v_user_id
           OR "postedBy" = v_user_id
           OR id = v_profile_id;
           
        UPDATE public.rooms
        SET locked_until = NOW() + INTERVAL '24 hours'
        WHERE user_id = NEW.reported_id
           OR "postedBy" = NEW.reported_id
           OR user_id = v_user_id
           OR "postedBy" = v_user_id;
    END IF;

    RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
